body {
  background-color: aqua;
}

.header {
  text-align: center;
  font-size: large;
}

.cheatsheet-content {
  display: none;
  text-align: left;
  font-size: 19px;
}

.cheatsheet-button {
  color: rgb(0, 0, 0);
  font-weight: 700;
  background-color: rgb(255, 118, 225);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 10px #ff00aa50;
}

.cheatsheet-container {
  background-color: rgb(100, 21, 83);
  padding: 30px;
  border-radius: 20px;
  border: 5px, black, solid;
  box-shadow: 0px 0px 5px 5px #0000001a;
}

.cs-info {
  text-shadow: 0 0 5px #ff4c90, 0 0 10px #ff73a9, 0 0 20px #ff2e7e;
  color: rgb(255, 255, 255);
  background-color: #66003050;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 10px #ff00aa30;
}

#hide-show,
#submit-form {
  color: rgb(51, 255, 0);
  background-color: rgb(255, 0, 106);
  border-radius: 20px;
  padding: 8px;
  font-size: large;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-title {
  text-align: center;
  background-color: aliceblue;
  border: 3px, black, solid;
}

#form-container {
  display: block;
  background-color: blue;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px #0000001a;
}

#cv-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 8px;
  align-items: center;
}

input,
textarea {
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
  text-align: center;
}

input {
  width: 93%;
}

textarea {
  max-width: 93%;
  min-width: 93%;
}

label {
  padding-top: 5px;
  padding-bottom: 5px;
  color: antiquewhite;
}

.label-text {
  align-self: center;
  background-color: blueviolet;
  width: 200px;
  border-radius: 30px;
  border: 3px, black, solid;
}
